.combo{font-family: Arial, Helvetica, sans-serif,Arial,times new roman;font-size:9pt;color:#000000;
border: 1px solid #B8CBAB;  }

.combo1{font-family: Verdana,Arial, Helvetica, sans-serif,Arial,times new roman;font-size:9pt;color:black;
border: 1px solid #CDCDCD;  }

.button{font-family: verdana, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;color:black;
 }

.normaltextcenter{font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:center;line-height:150%;color:#626161; background-color:black}

.txtboxgrey{font-family: Arial, Helvetica, sans-serif,Arial,times new roman;font-size:9pt;color:#DCA998;font-weight:normal;
border: 1px solid #A65E51; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1;background-color: #991C04 }

.combogrey{font-family: Arial, Helvetica, sans-serif,Arial,times new roman;font-size:9pt;color:#DCA998;
border: 1px solid #A65E51; background-color: #991C04;font-weight:normal }

.txtbox{font-family: Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;color:#000000;
border: 1px solid #CDCDCD; padding-padding-right: 4; padding-top: 1; padding-bottom: 1;padding-left: 4; background-color: white }

.txtboxwhite{font-family: Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;color:#000000;
border: 1px solid #FFFFFF; padding-padding-right: 4; padding-top: 1; padding-bottom: 1;padding-left: 4; background-color: white }





