.leftnormal{font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:9pt;text-align:justify;line-height:150%;color:#000000;letter-spacing: 1 }

.centernormal{font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:center;line-height:100%;color:#000000;letter-spacing: 0 }

.rightnormal{font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:9pt;text-align:right;line-height:100%;color:#000000; }

.leftnormalwhite{font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:justify;line-height:100%;color:#969695; }

.rightnormalwhite{font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:right;line-height:100%;color:#969695; }

.blogtitle{font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:14pt;text-align:left;line-height:100%;color:#000000; }

.txtgrey{font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:left;line-height:100%;color:#909393; }

.txtblue{font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:left;line-height:100%;color:#649FA1; }

.leftsmall{font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:justify;line-height:150%;color:#000000;letter-spacing: 1 }






