.normaltextjustify {font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:center;line-height:150%;color:black; font-weight: bold;border-style: solid; border-width: 1;border-color: black;
background-color: white}

.normaltext {font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;line-height:150%;font-size:8pt;color:black}

.normaltextleft{font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:left;line-height:150%;color:black; background-color:#E9EEF3}

.normaltextleft1{font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:left;line-height:150%;color:black; background-color:#D6DCE2}

.normaltextright{font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:right;line-height:150%;color:black; background-color:#E9EEF3}

.normaltextright1{font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:right;line-height:150%;color:black; background-color:#D6DCE2}

.academic4{font-family: Verdana,Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:left;line-height:200%;color:black;background-color: #E9EEF3;padding:4;margin-left: 0;border-style: solid; border-width: 0;border-color: white
}
.academic1{font-family: Verdana,Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:center;line-height:200%;color:black;background-color:#E9EEF3;
padding:0;margin-left: 0;border-style: solid; border-width: 0;border-color: white
}

.academic2{font-family: Verdana,Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:left;line-height:200%;color:black;background-color: #E9EEF3; margin-left: 0;border-style: solid; border-width: 0;border-color: white 
}
.academic{font-family: Verdana,Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:center;line-height:250%;color:white;background-color: #D6DCE2;margin-left: 0;border-style: solid; border-width: 0;border-color:white;font-weight:bold;
}
.programs{font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:left;line-height:150%;color:black;}

.programs1{font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:center;line-height:150%;color:black;}

.blogs{font-family: Verdana,Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:justify;line-height:150%;color:black;
}

.links{font-family: Verdana,Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:justify;line-height:150%;color:black;
}

.listprograms{font-family: Verdana,Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:left;line-height:150%;color:black; font-weight: bold; 
}
.listprograms1{font-family: Verdana,Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:left;line-height:150%;color:918F8F;
}

.heading{font-family:  Verdana,Arial,Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:left;line-height:150%;color:black;background-color:white;margin-left: 5;border-style: solid; border-width: 0;border-color: white;}

.heading1{font-family:  Verdana,Arial,Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:left;line-height:150%;color:156498;background-color: #F2F1F1;margin-left: 5;border-style: solid; border-width: 1;padding:4;border-color: white;style="border: 2px solid #B8CBAB;font-weight: bold}

.comment22{font-family: Verdana,Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:justify;line-height:150%;color:black;
}

.cultural{font-family: Arial, Verdana,Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:left;line-height:150%;color:black;background-color:white;margin-left: 5;border-style: solid; border-width: 1;border-color: white;style="border: 2px solid #B8CBAB}

.mylinks{font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:left;line-height:150%;color:black;}





