.combo{font-family: Arial, Helvetica, sans-serif,Arial,times new roman;font-size:9pt;color:#6F899D;
border: 1px solid #B8CBAB;  }

.combo1{font-family: Verdana,Arial, Helvetica, sans-serif,Arial,times new roman;font-size:10pt;color:#767474;
border: 1px solid #CDCDCD;  }

.button{font-family: verdana, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;color:black;
 }

.normaltextcenter{font-family:Verdana, Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;text-align:center;line-height:150%;color:#626161; background-color:black}

.txtboxblack{font-family: Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;color:#868585;
border: 1px solid #6D6B6B; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1;padding-left: 4;background-color: #343434 }

.comboblack{font-family: Arial, Helvetica, sans-serif,Arial,times new roman;font-size:10pt;color:#868585;
border: 1px solid #6D6B6B;  }

.txtbox{font-family: Arial, Helvetica, sans-serif,Arial,times new roman;font-size:8pt;color:#000000;
border: 1px solid #CDCDCD; padding-right: 4; padding-top: 1; padding-bottom: 1;padding-left: 4; background-color: white }


