
body {background-color: #415124}

table.outer1 {
background-color: #415124;
border-width: 0;

}

table.outer2 {
background-color: #415124;
border-width: 0;

}
outer3 {
background-color: yellow
background-image:
url('imgprofile/bgtop.png')

}